<label>Input text: </label>
<input type="text" placeholder="Input text" name="text1">

<hr>

<label>Input text (required): </label>
<input type="text" placeholder="Input text" name="text2" required>

<hr>

<label>Textarea: </label>
<textarea></textarea>

<hr>

<label>Select: </label>
<select name="select">
	<option value="0">Option 1</option>
	<option value="1">Other option</option>
	<option value="2">Last option</option>
</select>

<hr>

<label>Input radio: </label>
<input type="radio" name="radio1">

<hr>

<label>Input radio (disabled): </label>
<input type="radio" name="radio2" disabled="">

<hr>

<label>Input checkbox: </label>
<input type="checkbox" name="check1">

<hr>

<label>Input checkbox switch: </label>
<input type="checkbox" class="switch" value="true" name="switch1">

<hr>

<label>Input checkbox switch (false): </label>
<input type="checkbox" class="switch" value="false" name="switch2">

<hr>

<label>Button: </label>
<div class="button">button normal</div><hr>
<div class="button big">button big</div><hr>
<div class="button small">button small</div><hr>

<div class="button theme">button normal theme</div><hr>
<div class="button big theme">button big theme</div><hr>
<div class="button small theme">button small theme</div><hr>

<div class="button"><span class="icon icon-anchor"></span> button normal</div><hr>
<div class="button big"><span class="icon icon-anchor"></span> button big</div><hr>
<div class="button small"><span class="icon icon-anchor"></span> button small</div><hr>

<div class="button theme"><span class="icon icon-anchor"></span> button normal theme</div><hr>
<div class="button big theme"><span class="icon icon-anchor"></span> button big theme</div><hr>
<div class="button small theme"><span class="icon icon-anchor"></span> button small theme</div><hr>

<div class="button"><span class="icon icon-anchor"></span></div><hr>
<div class="button big"><span class="icon icon-anchor"></span></div><hr>
<div class="button small"><span class="icon icon-anchor"></span></div><hr>

<div class="button theme"><span class="icon icon-anchor"></span></div><hr>
<div class="button big theme"><span class="icon icon-anchor"></span></div><hr>
<div class="button small theme"><span class="icon icon-anchor"></span>wamp</div><hr>


