// Buttons
.button, button{
  background-image: -webkit-gradient(linear, center top, center bottom, from($c_button), to(darken($c_button,20%)));
  border-top-color: $c_button;
  border-left-color: darken($c_button,20%);
  border-bottom-color: $c_button;
  border-right-color: darken($c_button,20%);
  border-radius: 2px;
  border-style: solid;
  text-align:center;
  white-space:nowrap;
  vertical-align: middle;
  display: block;
  background-clip: padding-box;
  display: block;
  font-size: 1.3em;
  line-height: 2em;
  margin: 3px auto;
  text-align: center;
  width: 50%;

  &:hover,&:active{
    background: darken($c_button,20%);
    @include PropPrefix(box-shadow,"inset 0px 1px 1px "+darken($c_button,20%));
  }

  &[class*='icon-']{
    padding: 0;
    &:before{
      float: left;
      position: relative;
      top: -0.1em;
      left: 0.25em;
    }
  }

  &.theme{
    background: darken($c_highlight,10%);
    @include PropPrefix(box-shadow,"inset 0px 1px 1px "+lighten($c_highlight,20%));
    border: 1px solid darken($c_highlight,20%);

    &:hover,&:active{
      background: darken($c_highlight,20%);
      @include PropPrefix(box-shadow,"inset 0px 1px 1px "+darken($c_highlight,20%));
    }
  }

  &.small{
    font-size: 1.1em;
    width: 23%;
  }

  &.big{
    font-size: 1.4em;
    width: 90%;
  }

  &.inline{
    display: inline-block;
  }
}